* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/

body {
  font-family: tahoma, verdana, sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color: #1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h3 {
  font-size:2em; 
  font-weight: 300;
  line-height:1em;
  text-align: left;
  color: yellow;
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #4DC3FA;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 95%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 1.5%;
	  padding-top: 1.5%;
  padding-left:0.8%;  
}




/* Background-color of the odd rows*/
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows*/
.container tr:nth-child(even) {
	  background-color: #2C3446;
}



.stVerm {
  background: #FF6347;
  color: #000;
}

.stAmar {
  background: #FFF68F;
  color: #000;
}

.stLar {
  background: #BA55D3;
  color: #000;
}

.stVerd {
  background: #A2CD5A;
  color: #000;
}

.stBran {
  background: #FFF;
  color: #000;
}

.stAzul {
  background: #1E90FF;
  color: #FFF;
}


.container th {
	  background-color: #1F2739;
    /*background-color: #FFF;*/
}

/*.container td:first-child { color: #FB667A; }*/
.container td:first-child { color: #CCC; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #87CEFF;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(5),
.container th:nth-child(5) { display: none; }
}